@model IEnumerable< Product>
@{
    ViewData["Title"] = "Home Page";
}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Infinity Shop</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome You In Our Shop</p>
        </div>
    </div>
</header>
<section id="collection" class="py-5">
    <div class="collection-list mt-4 row gx-0 gy-3">
     @{
            foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
                    <div class="collection-img position-relative overflow-hidden">
                        <a class="btn btn-outline-dark mt-auto" asp-action="Details" asp-controller="Product" asp-route-id="@item.Id">
                            <img  src="data:image;base64,@System.Convert.ToBase64String(item.Photo)" alt="Photo" class="w-100" height="250px" width="250px" />
                            <span class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
                        </a>
                    </div>


                    <div class="text-center">
                        <div class="rating mt-3">
                            <span class="text-primary"><i class="fas fa-star"></i></span>
                            <span class="text-primary"><i class="fas fa-star"></i></span>
                            <span class="text-primary"><i class="fas fa-star"></i></span>
                            <span class="text-primary"><i class="fas fa-star"></i></span>
                            <span class="text-primary"><i class="fas fa-star"></i></span>
                        </div>
                        <p class="text-capitalize my-1">@item.Name</p>
                        <span class="fw-bold">$@item.Price</span>
                    </div>
                </div>


            }
        }


    </div>
    </div>
    </div>
</section>