<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Category Settings</a>
            <a class="list-group-item list-group-item-action" id="list-Create-list" data-toggle="list" role="tab" aria-controls="Create" asp-controller="Catagory" asp-action="Create" asp-area="">Add Category</a>
            <a class="list-group-item list-group-item-action" id="list-ALl-list" data-toggle="list" role="tab" aria-controls="All" asp-controller="Catagory" asp-action="List" asp-area="">Delete or Edit Category</a>

    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
    </div>
  </div>
</div>


<hr>


<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Offer Settings</a>
            <a class="list-group-item list-group-item-action" id="list-Create-list" data-toggle="list"  role="tab" aria-controls="Create" asp-controller="Offer" asp-action="Create"  asp-area="" >Create Offer</a>
      <a class="list-group-item list-group-item-action" id="list-ALl-list" data-toggle="list"  role="tab" aria-controls="List" asp-controller="Offer" asp-action="List"  asp-area="" >Delete or Edit Offer</a>

    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
    </div>
  </div>
</div>


<hr>



<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Product Settings</a>
            <a class="list-group-item list-group-item-action" id="list-Create-list" data-toggle="list"  role="tab" aria-controls="Create" asp-controller="Product" asp-action="Create"  asp-area="" >Create Product</a>
            <a class="list-group-item list-group-item-action" id="list-ALl-list" data-toggle="list" role="tab" aria-controls="List" asp-controller="Product" asp-action="List" asp-area="">Delete or Edit Product</a>

    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
    </div>
  </div>
</div>

<hr>
<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Admin Settings</a>
            <a class="list-group-item list-group-item-action" id="list-Create-list" data-toggle="list" role="tab" aria-controls="Create" asp-controller="Role" asp-action="addAdminToRole" asp-area="">Add new Admin</a>
            <a class="list-group-item list-group-item-action" id="list-Create-list" data-toggle="list" role="tab" aria-controls="Create" asp-controller="Role" asp-action="Create" asp-area="">Add new Role</a>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
        </div>
    </div>
</div>

