/* importing css file for the header and footer of web Page */
@import url(./main.css);
@import url(./product_list.css);
@import url(./product_view.css);
@import url(./style.css);

/* This is the  universal selector and its apply to all the elements */
* {
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    border-radius: 2em;
}

/* header-top style sheet */
.socialmedia {
    display: flex;
    align-items: center;
}

.socialmedia a {
    margin-right: 0.5vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    font-size: unset;
}

.socialmedia img {
    width: 3vw;
}

.searchbar {
    display: flex;
    align-items: center;
}

.searchbar img {
    position: relative;
    right: 2.5vw;
    width: 1.5vw;
}

.searchbar input {
    border-radius: 2em;
    font-size: 1vw;
    height: 3vw;
}

.details {
    display: flex;
}

.details li {
    display: flex;
    align-items: center;
}

.details a {
    padding: 0 15px 0 0;
    font-size: 1vw;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.details img:first-child {
    width: 3vw;
}

.selector img:first-child {
    width: 1.5vw;
    margin: 0 0.2vw 0 0.5vw;
}

.selector select {
    padding: unset;
    height: 2em;
    color: #ffffff;
    border: none;
    width: 6vw;
}

.searchbar,
.socialmedia,
.details {
    padding-right: unset;
    padding-left: unset;
}

.row {
    margin-right: unset;
    margin-left: unset;
}

.header-top,
.countries option,
.countries {
    background-color: yellowgreen !important;
    font-size: 1vw;
}

.header-top {
    padding: 0.5vw 0;
}

.details a:hover {
    color: blue;
}

.headernav-menu {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.headernav-menu span {
    background-color: var(--pink);
    color: white;
    border-radius: 50%;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 10px;
}

/* ____________________________________ */
/* Header navigation bar “sticky” using JavaScript*/
.sticky-scroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: #ffffff;
    box-shadow: 0px 15px 10px -15px #111;
    border-radius: 2em;
    width: 100%;
    display: flex;
}

/* _____________________header end______________________ */
/* submenu style sheet when hover into header bottom navigation */
.submenu {
    list-style: none;
    padding: 0 0.5vw;
    display: none;
    border-top: 0.3em solid #fd6e00;
    position: absolute;
    background-color: #ffffff;
    z-index: 100;
    width: 10%;
    box-shadow: 0px 0px 20px -8px #fd6e00;
    transition: ease 0.5s;
    border-radius: 1.7em;
}

.submenu li a {
    display: block;
    font-size: 14px;
}

.submenu li {
    margin-bottom: 0.5vw;
}

.headernav-menu:hover+.submenu,
.submenu:hover {
    display: block;
}

.submenu a:hover {
    color: #fd6e00;
    text-decoration: none;
}

/*______________________________________________________ */

/* This style sheet is used for breadcrumb navigation */
.profile-breadcrumb {
    background-color: #e9ecef;
    margin: 30px;
}

.profile-breadcrumb ol {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 15px 0;
    font-size: 14px;
}

.profile-breadcrumb li:nth-child(2)::before {
    padding: 5px;
    content: "/";
}

.profile-breadcrumb ol li,
.profile-breadcrumb ol li a {
    color: #000000;
    text-decoration: none;
}

.profile-breadcrumb ol li:nth-child(2) a {
    font-weight: bold;
}

/* _______end of breadcrumb navigation________ */

/* this style sheet is used for add to cart products */
.mycart-top-div {
    margin: 40px 0 10px;
    font-weight: bold;
}

.mycart-top-heading {
    column-gap: 20px;
}

.mycart-top-heading h4 {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: #fd6e00;
}

.mycart-top-heading span,
.mycart-top-total {
    font-size: 16px;
}

.cart-box-mb {
    margin-bottom: 40px;
    padding: 0;
}

.cart-box {
    border: 1px solid #d9d9d9;
}

.cart-img {
    padding: 20px;
}

.cart-img img {
    width: 150px;
    height: 180px;
    border: 1px solid #d9d9d9;
    background-color: #f5f5f5;
}

.about-product {
    padding: 20px 10px;
    line-height: 30px;
}

.about-product h6,
.about-product p,
.product-remove-wishlist,
.price-after-discount,
.product-price span:nth-child(2) {
    font-weight: bold;
}

.about-product h6 {
    font-size: 16px;
}

.about-product p {
    font-size: 14px;
}

.product-cost-delivery {
    text-align: right;
    padding: 20px;
    line-height: 30px;
}

.product-price span:first-child {
    text-decoration: line-through;
}

.product-price span:nth-child(2) {
    color: var(--pink);
}

.product-cost-delivery div:first-child,
.product-cost-delivery div:nth-child(2) {
    font-size: 16px;
}

.product-cost-delivery div:nth-child(3) {
    font-size: 14px;
}

.product-remove-wishlist {
    border: 1px solid #d9d9d9;
    padding: 10px;
}

.product-remove-wishlist span {
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
}

.product-remove-wishlist span:hover {
    color: var(--pink);
}

.product-remove-wishlist span:nth-child(2):hover {
    color: #000000;
}

.product-remove-wishlist span:nth-child(2) {
    cursor: default;
}

.select-size select {
    width: 120px;
    padding: 5px;
    border-radius: 5em;
    background-color: #cccccc;
    border: 0px;
    font-size: 16px;
}

/* this style sheet is used for quantity button */
.select-qty {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5em;
}

.select-qty span {
    width: 35px;
    height: 35px;
    font-weight: bold;
    border: 2px solid #000000;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5em;
}

.select-qty span:first-child:hover,
.select-qty span:nth-child(3):hover {
    color: #fd6e00;
    border-color: #fd6e00;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5em;
}

.select-size-qty {
    column-gap: 50px;
    margin-top: 20px;
}

/* this style sheet is used for price deatails container */
.coupon-head {
    border: 1px solid #d9d9d9;
    padding: 20px;
    line-height: 30px;
}

.coupon-head h5 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.apply-coupon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apply-coupon span i {
    color: var(--pink);
}

.apply-coupon span {
    font-weight: bold;
    font-size: 16px;
}

.apply-coupon button {
    font-size: 16px;
    font-weight: bold;
    color: #ffff;
    background-color: #fd6e00;
    border: 2px solid #fd6e00;
    border-radius: 5em;
    padding: 2px 20px;
}

.apply-coupon button:hover {
    background-color: #ffff;
    color: #fd6e00;
    border-radius: 5em;
}

.coupon-body {
    border: 1px solid #d9d9d9;
    padding: 20px;
    line-height: 40px;
}

.coupon-footer {
    line-height: 30px;
}

.price-total {
    font-size: 16px;
}

.coupon-body .price-list,
.coupon-footer .price-total {
    display: grid;
    grid-template-columns: 50% 50%;
}

.price-list .pricelist-heading-left {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.coupon-discount-right,
.delivery-charges-right span:nth-child(2) {
    color: #00cc00;
}

.delivery-charges-right span:first-child {
    text-decoration: line-through;
}

.coupon-discount-right {
    color: #fd6e00;
}

.price-list {
    font-size: 14px;
}

.coupon-footer .placeorder-btn button {
    width: 100%;
    color: #ffff;
    background-color: #fd6e00;
    border: 2px solid #fd6e00;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    font-size: 16px;
    border-radius: 5em;
}

.coupon-footer {
    font-weight: bold;
}

.coupon-footer .placeorder-btn {
    margin: 10px 0;
}

.coupon-footer .placeorder-btn button:hover {
    color: #fd6e00;
    background-color: #ffff;
}

/* this media query really means, is “If device minimum width is 200px to maximum width is 767px, then do {…}” */
@media only screen and (min-width: 200px) and (max-width: 767px) {
    .product-cost-delivery {
        text-align: left;
    }

    .about-product {
        padding: 20px 20px;
    }
}

/* this media query really means, is “If device minimum width is 200px to maximum width is 500px, then do {…}” */
@media only screen and (min-width: 200px) and (max-width: 500px) {
    .profile-breadcrumb ol {
        font-size: 10px;
        padding: 10px 0;
    }

    .mycart-top-div {
        margin: 20px 0 10px;
    }

    .cart-padding {
        padding: 0;
    }

    .mycart-top-heading h4 {
        font-size: 18px;
    }

    /* same font size for different element */
    .mycart-top-heading span,
    .mycart-top-total,
    .about-product h6,
    .select-size select,
    .select-qty span,
    .product-cost-delivery div:first-child,
    .product-cost-delivery div:nth-child(2),
    .product-remove-wishlist span,
    .apply-coupon span,
    .price-list .pricelist-heading-left,
    .price-total {
        font-size: 12px;
    }

    .select-qty span {
        width: 30px;
        height: 30px;
        border-radius: 4px;
    }

    .select-qty span:first-child:hover,
    .select-qty span:nth-child(3):hover {
        font-size: 16px;
    }

    .select-size-qty {
        column-gap: 35px;
    }

    .about-product p,
    .product-cost-delivery div:nth-child(3),
    .price-list {
        font-size: 10px;
    }

    .mycart-top-heading {
        column-gap: 5px;
    }

    .cart-img,
    .about-product,
    .product-cost-delivery,
    .product-remove-wishlist span,
    .coupon-head,
    .coupon-body {
        padding: 10px;
    }

    .cart-box-mb {
        margin-bottom: 20px;
    }

    .about-product,
    .product-cost-delivery,
    .coupon-head {
        line-height: 20px;
    }

    /* this style sheet is used for product coupon box and price details*/
    .coupon-body {
        line-height: 30px;
    }

    .coupon-head h5 {
        font-size: 16px;
    }

    .apply-coupon button {
        font-size: 12px;
        padding: 2px 10px;
        border-radius: 2em;
    }

    .select-size select {
        width: 100px;
    }

    .placeorder-btn {
        margin: 5px 0;
    }

    .coupon-footer button {
        padding: 0;
        font-size: 12px;
    }
}

/* This stylesheet used for footer element */
.pay-con {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw !important;
}

.pay-con strong {
    font-size: 1.5vw;
}

.payment,
.connect {
    padding: unset;
    line-height: 2.5vw;
}

.payment div:nth-child(2) img {
    width: 3vw;
}

.connect i {
    width: 3vw;
    font-size: 2vw;
}

i.fab.fa-youtube.thu {
    color: red;
}

i.fab.fa-instagram.thu {
    color: rgb(238, 75, 96);
}

i.fab.fa-facebook.thu {
    color: rgb(66, 103, 178);
}

i.fab.fa-twitter.thu {
    color: rgb(29 161 242);
}

/*_______________footer element end_________________*/
/* this style sheet is used for main element */
.suprt-box {
    margin-top: 4vw;
}

.suprt-box span {
    padding: 1vw;
}

.suprt-box span img {
    width: 5vw;
    margin-bottom: 1vw;
}

.suprt-box span h6 {
    font-size: 1.3vw;
    font-weight: bold;
    margin-bottom: 1vw;
}

.suprt-box span p {
    font-size: 1vw;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1vw;
}

.swagofindia-details {
    margin-top: 4vw !important;
}

.swagofindia-details h5 {
    font-size: 1vw;
    font-weight: 500;
    margin-bottom: 1vw;
}

.swagofindia-details li {
    font-size: 1vw;
}

.swagofindia-details div {
    padding: unset;
}

.swagofindia-details ul {
    margin-bottom: 1vw;
    line-height: 25px;
}

.emailaddress {
    width: 10vw;
    background-color: #efefef;
    height: 30px;
    font-size: 1vw;
    padding: 5px;
    border-radius: 2em;
}

.input-group-append {
    padding: 0 !important;
    border-radius: 2em;
}

.submit-email {
    background-color: black;
    color: #ffffff;
    box-sizing: border-box;
    border-radius: 2em solid black;
    height: 30px;
    font-size: 1vw;
    padding: 5px;
    border-radius: 2em;
}

.submit-email:hover {
    color: black;
    background-color: #efefef;
    border-radius: 2em;
}

/*_____________________End main element_______________________*/
/* footer */
footer .brand {
    font-family: var(--pink);
    letter-spacing: 2px;
    transition: box-shadow var(--duration-default) ease-in-out;
}

footer a {
    transition: color 0.3s ease;
    transition: box-shadow var(--duration-default) ease-in-out;
}

footer a:hover {
    color: var(--pink) !important;
    transition: box-shadow var(--duration-default) ease-in-out;
}

/* blue button on bottom to reach the top again using JavaScript*/
.scroll-top-btn {
    background-color: #0099cc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    right: 25px;
    bottom: 35px;
    color: #ffffff;
    position: fixed;
    cursor: pointer;
    display: none;
    z-index: 1000;
    border: 2px solid #0099cc;
    padding: 1px;
}

.scroll-top-btn:hover {
    box-shadow: 0px 0px 17px 0px var(--pink);
}

/* submenu style sheet when hover into header bottom navigation */
.submenu {
    list-style: none;
    padding: 0 0.5vw;
    display: none;
    border-top: 0.3em solid #fd6e00;
    position: absolute;
    background-color: #ffffff;
    z-index: 100;
    width: 10%;
    box-shadow: 0px 0px 20px -8px #fd6e00;
    transition: ease 0.5s;
    border-radius: 1.7em;
}

.submenu li a {
    display: block;
    font-size: 14px;
}

.submenu li {
    margin-bottom: 0.5vw;
}

.headernav-menu:hover+.submenu,
.submenu:hover {
    display: block;
}

.submenu a:hover {
    color: #fd6e00;
    text-decoration: none;
}

/*______________________________________________________ */
